<h3>Test Scores:</h3>
<div class="row">
  <div class="column">
    <div class="card">
      <h4>Joint Entrance Examination (JEE) Advance 2022</h4>
      <p>Rank - 12,872 · Aug 2022</p>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <h4>Joint Entrance Examination (JEE) Main 2022</h4>
      <p>Rank - 21,261 · Jul 2022</p>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <h4>Karnataka Common Entrance Test (KCET) 2022</h4>
      <p>Rank - 765 · Jun 2022</p>
    </div>
  </div>
</div>
