<h3>Skills:</h3>
<div class="row">
  <div class="column">
    <div class="card">
      <h4>C++</h4>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <h4>Python</h4>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <h4>HTML</h4>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <h4>CSS</h4>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <h4>Angular</h4>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <h4>Javascript</h4>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <h4>SQL</h4>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <h4>Mathematics</h4>
    </div>
  </div>
</div>
