<div class="heading"><h2>Portfolio Website</h2></div>
<div class="container">
  <div class="img-col">
    <img src="assets/img/Praneetha.jpg" />
  </div>
  <div class="text-col">
    Hi! I'm Praneetha Praveen Kalbhavi.
    <p>
      I am currently pursuing my first year BTech in PES University, RR Campus,
      Bangalore. I am highly interested in learning new technologies and
      acquiring problem solving skills. Currently exploring all domains of CS to
      find out the area of my interest. Passionate about Coding and Web
      Development.
    </p>
  </div>
  <!--<div class="button-col">
    <p><button (click)="about()">About</button></p>
    <p><button (click)="education()">Education</button></p>
    <p><button (click)="skills()">Skills</button></p>
    <p><button (click)="publications()">Publications</button></p>
    <p><button (click)="honors()">Honors & Awards</button></p>
    <p><button (click)="scores()">Test Scores</button></p>
  </div>-->
</div>
<app-education></app-education>
<app-skills></app-skills>
<app-publications></app-publications>
<app-honors></app-honors>
<app-scores></app-scores>
