<div class="bg">
  <div class="heading"><h2>Portfolio Website</h2></div>
  <br />
  <div class="container">
    <div class="img-col">
      <img src="assets/img/Praneetha.jpg" />
    </div>
    <div class="text-col">
      <h1 class="h3 title">Hey there!</h1>
      <h1 class="h1 title">I'm Praneetha Praveen Kalbhavi</h1>
      <div>
        <i
          >I am currently pursuing my
          <b>first year BTech in PES University, RR Campus, Bangalore</b>. I am
          highly interested in <b>learning new technologies</b> and
          <b>acquiring problem solving skills</b>.

          <p>
            I'm currently exploring all domains of CS to find out the area of my
            interest. I'm passionate about <b>Coding and Web Development</b>.
          </p>
        </i>
      </div>
    </div>
    <!--<div class="button-col">
      <p><button (click)="about()">About</button></p>
      <p><button (click)="education()">Education</button></p>
      <p><button (click)="skills()">Skills</button></p>
      <p><button (click)="publications()">Publications</button></p>
      <p><button (click)="honors()">Honors & Awards</button></p>
      <p><button (click)="scores()">Test Scores</button></p>
    </div>-->
  </div>
  <br />
  <br />
  <br />
  <div class="x">
    <app-education></app-education><br />
    <app-skills></app-skills><br />
    <app-publications></app-publications><br />
    <app-honors></app-honors><br />
    <app-scores></app-scores><br />
  </div>
</div>
