.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
  margin-bottom: 30px;
  margin-top: 15px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  max-width: 100%;
}
.img-col {
  flex-basis: 20%;
  border-radius: 25px;
  margin-right: 10px;
  margin-left: 50px;
}
.text-col {
  font-size: large;
  flex-basis: 40%;
  margin-right: 50px;
  margin-left: 100px;
}
.button-col {
  margin-left: 5px;
  margin-right: 15px;
}
.bg {
  /* The image used */
  background-image: url("..\/assets/img/img3.jpg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.x {
  align-items: center;
  justify-content: center;
}
