<h3>Publications:</h3>
<br />
<br />
<br />

<!--<div class="container">
  <div class="card">
    <div class="textbox">
      <h4>Solution to a 2018 Romanian Mathematics Olympiad Problem</h4>
    </div>

    <div class="content">
      <a
        href="https://drive.google.com/file/d/1_heggtGi_Hgm8cUBIeTBkZF_QufB1Qns/view"
        >Open Document!</a
      >
    </div>
  </div>
  <div class="card">
    <div class="textbox">
      <h4>Solution to a problem from the CMI Entrance Test-2020</h4>
    </div>

    <div class="content">
      <a
        href="https://drive.google.com/file/d/1sczrHfM8lWoBHggAnbTAM799qWGzyFYS/view"
        >Open Document!</a
      >
    </div>
  </div>
  <div class="card">
    <div class="textbox">
      <h4>Solutions To Two Probems</h4>
    </div>

    <div class="content">
      <a
        href="https://drive.google.com/file/d/1StoaSmd9XcrlTOtY5FHouBQgAarxqN_I/view"
        >Open Document!</a
      >
    </div>
  </div>
</div>
-->
<div class="row">
  <div class="column">
    <div class="card">
      <h4>Solution to a 2018 Romanian Mathematics Olympiad Problem</h4>
      <p>
        <a
          href="https://drive.google.com/file/d/1_heggtGi_Hgm8cUBIeTBkZF_QufB1Qns/view"
          >Open Document!</a
        >
      </p>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <h4>Solution to a problem from the CMI Entrance Test-2020</h4>
      <p>
        <a
          href="https://drive.google.com/file/d/1sczrHfM8lWoBHggAnbTAM799qWGzyFYS/view"
          >Open Document!</a
        >
      </p>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <h4>Solutions To Two Probems</h4>
      <p>
        <a
          href="https://drive.google.com/file/d/1StoaSmd9XcrlTOtY5FHouBQgAarxqN_I/view"
          >Open Document!</a
        >
      </p>
    </div>
  </div>
</div>
