<h3>Publications:</h3>
<br />
<br />
<br />

<!--<div class="container">
  <div class="card">
    <div class="textbox">
      <h4>Solution to a 2018 Romanian Mathematics Olympiad Problem</h4>
    </div>

    <div class="content">
      <a
        href="https://drive.google.com/file/d/14vs_PDlHHhmFz6rAPFlocgA7P2nsqh7B/view?usp=sharing"
        >Open Document!</a
      >
    </div>
  </div>
  <div class="card">
    <div class="textbox">
      <h4>Solution to a problem from the CMI Entrance Test-2020</h4>
    </div>

    <div class="content">
      <a
        href="https://drive.google.com/file/d/1gjMwcLXep19ZJf4qejcTaKVGZXxD9X3P/view?usp=sharing"
        >Open Document!</a
      >
    </div>
  </div>
  <div class="card">
    <div class="textbox">
      <h4>Solutions To Two Probems</h4>
    </div>

    <div class="content">
      <a
        href="https://drive.google.com/file/d/1wMMS5HUOb5BOiSPpv2ONwiYou0-wxt5-/view?usp=sharing"
        >Open Document!</a
      >
    </div>
  </div>
</div>
-->
<div class="row">
  <div class="column">
    <div class="card">
      <h4>Solution to a 2018 Romanian Mathematics Olympiad Problem</h4>
      <p>
        <a
          href="https://drive.google.com/file/d/14vs_PDlHHhmFz6rAPFlocgA7P2nsqh7B/view?usp=sharing"
          >Open Document!</a
        >
      </p>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <h4>Solution to a problem from the CMI Entrance Test-2020</h4>
      <p>
        <a
          href="https://drive.google.com/file/d/1gjMwcLXep19ZJf4qejcTaKVGZXxD9X3P/view?usp=sharing"
          >Open Document!</a
        >
      </p>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <h4>Solutions To Two Probems</h4>
      <p>
        <a
          href="https://drive.google.com/file/d/1wMMS5HUOb5BOiSPpv2ONwiYou0-wxt5-/view?usp=sharing"
          >Open Document!</a
        >
      </p>
    </div>
  </div>
</div>
