* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
}

.container {
  position: relative;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.container .card {
  height: 200px;
  max-width: 200px;
  position: relative;
  padding: 15px 15px;
  margin: 10px 10px;
  background: #f1f1f1;
  display: flex;
  flex-direction: column;

  transition: 0.3s ease-in-out;
}

.container .card:hover {
  height: 400px;
}

.containe .card .textbox {
  position: relative;
  width: 260px;
  height: 260px;
  top: -60px;
  left: 20px;
}

.container .card .content {
  position: relative;
  margin-top: 50px;
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.container .card:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: 10px;
  transition-delay: 0.3s;
}
